/**
 * Theme Name: stationfive
 * Theme URI: http://stationfive.local/
 * Author: Dan Laurice Seruela
 * Author URI: https://danseruela.com
 * Description: Technical Challenge - Wordpress
 * Version: 1.0 
 */

 /* Theme color */
.text-blue-green { 
    color: #5d8c92; 
}
.bg-blue-green { 
    background-color: #5d8c92; 
}
/* Form Section */
/* .donation-section { 
    background-image: url("img/swish-bg.png"); 
    background-size: 2210px auto;
    background-position: -418px -100px;
    background-repeat: no-repeat;
} */
.donation-section { 
    background-image: url("img/swish-bg-2.png"); 
    background-size: cover;
    background-repeat: no-repeat;
}
.card { 
    border-radius: 10px; 
}
p { 
    font-size: 13px; 
}
.current-donation-amount:before { 
    content: '$'; 
}
.progress-wrapper { 
    width: 80%; 
}
.input-group-text, input[type="text"] { 
    border-radius: 0 !important; 
}
/* Testimonial Section */
.testimonial-section .col-sm-6:first-child {
    border-radius: 10px;
    height: 90vh;
    background-image: url("img/iStock-1214595977.jpg");
    background-position: 66% top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 46%;
}
.px-7 { 
    padding-left: 5rem;
    padding-right: 5rem;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.testimonial-section .col-sm-6:last-child {
    position: relative;
    background-image: url("img/icon-square-dots.svg");
    background-repeat: no-repeat;
    background-position: 20px 25%;
}
.quote-right {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: relative;
    top: -30px;
    left: 100%;
}
.quote-left {
    position: relative;
    left: -60px;
}

/* Desktop */
@media only screen and (min-width: 1023px) {
    .donation-section .container, 
    form p {
        width: 64%;
    }
    .input-amount {
        width: 30%;
    }
    .display-amount {
        width: 45%;
    }
}

/* Tablet */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    .donation-section .container {
        width: 90%;
    }
    form p {
        width: 80%;
    }
    .progress-wrapper { 
        width: 90%; 
    }
    .input-amount {
        width: 50%;
    }
    .display-amount {
        width: 75%;
    }
    .px-7 { 
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .testimonial-section .col-sm-6:last-child {
        background-position: 5px 14.5%;
    }
    .quote-right {
        left: 90%;
    }
    .quote-left {
        left: -38px;
    }
}

/* Mobile */
@media only screen and (max-width: 425px) {
    .p-5 {
        padding: 2rem !important;
    }
    .px-5 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    .testimonial-section .col-sm-6:first-child {
        height: 80vh;
        width: 100%;
        border-radius: 0;
    }
    .testimonial-section .col-sm-6:last-child {
        background-position: 20px 6%;
    }
    .vertical-center {
        position: initial;
        transform: initial;
    }
    .quote-right {
        top: 20px;
    }
    .quote-left {
        top: -20px;
    }
}
